<div>
    <h2>Reset Password</h2>
    <form (ngSubmit)="resetPassword()">
      <div>
        <label>New Password:</label>
        <input type="password" [(ngModel)]="newPassword" name="newPassword" required>
      </div>
      <div>
        <label>Confirm Password:</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
      </div>
      <button type="submit">Reset Password</button>
      <div
              *ngIf="loading"
              class="spinner-border loading text-dark"
              role="status"
            >
              <span class="visually-hidden">Loading...</span>
            </div>
    </form>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
  </div>
  