
<div class="container-fluid">
  <div class="row vh-100 p-3 ">
    <div class="col-lg-2 col-md-4 col-sm-12 me-4 navBar">
      <div class="d-flex align-items-center justify-content-center p-3">
        <div class="logo"></div>
        <h4 class="text-center text-white pt-3">ReadEase.</h4>
      </div>

      <nav class="selection mt-5 ms-4">
        <div
          class="navBtn mb-2 d-flex align-items-center justify-content-center"
          routerLinkActive="active"
          routerLink="/adminDashboard"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <h3 class="bi bi-house"></h3>
          <p class="m-2">Dashboard</p>
        </div>
        <div
          class="navBtn mb-2 d-flex align-items-center justify-content-center"
          routerLink="/accounts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <h3 class="bi bi-person-gear"></h3>

          <p class="m-2">Accounts</p>
        </div>
        <div
          class="navBtn mb-2 d-flex align-items-center justify-content-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <h3 class="bi bi-book"></h3>

          <p class="m-2">Logs</p>
        </div>
        <div
          class="navBtn mb-2 d-flex align-items-center justify-content-center"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        
        <h3 class="bi bi-receipt"></h3>
          <p class="m-2">Transactions</p>
        </div>
        <div
          class="navBtn mb-2 d-flex align-items-center justify-content-center"
          routerLinkActive="active"
          routerLink="/books"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <h3 class="bi bi-bookshelf"></h3>

          <p class="m-2">Inventory</p>
        </div>
      </nav>
      <div class="d-flex align-items-center justify-content-center">
        <button
          class="btn p-2 btn-danger mt-5"
          data-bs-toggle="modal"
          data-bs-target="#logoutModal"
        >
          Logout
        </button>
      </div>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 p-3  book-list-container">
      <div>
        <div class="mb-4 d-flex align-items-center justify-content-between">
    
            <h4>User Management</h4>
            <button
              class="add-account btn ms-4"
              data-bs-toggle="modal"
              data-bs-target="#addAccount"
            >
              Add Account
            </button>               
        </div>
      </div>
      <div  class="table-div">
        <table id="bookTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Date</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.title }}</td>
                    <td>{{ book.category }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.date }}</td>
                    <td>{{ book.quantity }}</td>
                    <td>
                        <button (click)="editBook(book.id!)" class="btn btn-warning btn-sm">Edit</button>
                        <button (click)="deleteBook(book.id!)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
      <div>
        <form (ngSubmit)="createBook()" #bookForm="ngForm">
            <div>
                <label>Title:</label>
                <input type="text" name="title" [(ngModel)]="book.title" required pattern="[a-zA-Z0-9\s]+">
            </div>
            <div>
                <label>Category:</label>
                <input type="text" name="category" [(ngModel)]="book.category" pattern="[a-zA-Z0-9\s]+">
            </div>
            <div>
                <label>Author:</label>
                <input type="text" name="author" [(ngModel)]="book.author" required pattern="[a-zA-Z0-9\s]+">
            </div>
            <div>
                <label>Publisher:</label>
                <input type="text" name="publisher" [(ngModel)]="book.publisher" pattern="[a-zA-Z0-9\s]+">
            </div>
            <div>
                <label>Date:</label>
                <input type="date" name="date" [(ngModel)]="book.date">
            </div>
            <div>
                <label>Quantity:</label>
                <input type="number" name="quantity" [(ngModel)]="book.quantity">
            </div>
            <button type="submit" [disabled]="!bookForm.form.valid || isFormEmpty()">
                {{ isEditMode ? 'Update Book' : 'Add Book' }}
            </button>
        </form>
      </div>
      
      <!-- Logout Modal -->
      <div
      class="modal fade"
      id="logoutModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="logout"
      aria-hidden="true"
     >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="logout">Logout Confirmation</h1>
          </div>
          <div class="modal-body">
            <p class="text-black m-2">Are you sure you want to logout?</p>
            <div class="modal-footer p-2">
              <button
                type="button"
                class="btn p-2 me-2 btn-secondary"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <button
                data-bs-dismiss="modal"
                (click)="logout()"
                class="btn p-2 btn-danger"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>

<!-- Error Message -->
<div
  class="modal fade show"
  *ngIf="errorMessage"
  tabindex="-1"
  aria-labelledby="errorModalMessage"
  aria-modal="true"
  style="display: block; background: rgba(0, 0, 0, 0.5)"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger" id="errorModalMessage">
          Error
        </h1>
        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
<!-- Success Message -->
<div
  class="modal fade"
  *ngIf="successMessage"
  tabindex="-1"
  aria-labelledby="successMessage"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="successMessage">
          Successfully
        </h1>
        <button
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>{{ successMessage }}</p>
      </div>
    </div>
  </div>
</div>
<!-- Logout Modal -->
<div
  class="modal fade"
  id="logoutModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="logout"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="logout">Logout Confirmation</h1>
      </div>
      <div class="modal-body">
        <p class="text-black m-2">Are you sure you want to logout?</p>
        <div class="modal-footer">
          <button
            type="button"
            class="btn p-2 me-2 btn-secondary"
            data-bs-dismiss="modal"
          >
            No
          </button>
          <button
            data-bs-dismiss="modal"
            (click)="logout()"
            class="btn p-2 btn-danger"
          >
            Yes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

