<div class="container-fluid">
  <div class="row vh-100">
    <!-- Navbar -->
    <div class="col-sm-6 col-md-5 col-lg-2 navBar">
      <div class="logoContainer p-3 mt-3">
        <div class="logo"></div>
        <h4 class="logoName text-center text-white pt-3">ReadEase.</h4>
      </div>

      <nav class="selection text-center mt-5">
        <div
          class="navBtn mb-5"
          routerLinkActive="active"
          routerLink="/adminDashboard"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <h3 class="bi bi-house"></h3>
          <p class="ms-4 p-2">Dashboard</p>
        </div>
        <div class="navBtn mb-5" routerLink="/accounts">
          <h3 class="bi bi-person-gear"></h3>
          <p class="ms-4 p-2">Accounts</p>
        </div>
        <div class="navBtn mb-5" routerLink="/books">
          <h3 class="bi bi-bookshelf"></h3>
          <p class="ms-4 p-2">Books</p>
        </div>
        <div class="navBtn mb-5"
        [routerLink]="['/transaction']" routerLinkActive="active" >
          <h3 class="bi bi-receipt"></h3>
          <p class="ms-4 p-2">Transactions</p>
        </div>
        <div class="navBtn mb-5" [routerLink]="['/history']" routerLinkActive="active" >
          <h3 class="bi bi-clock-history"></h3>
          <p class="ms-4 p-2">History</p>
        </div>
        <div class="navBtn mb-4" (click)="logout()">
          <h3 class="bi bi-box-arrow-left"></h3>
          <p class="ms-4 p-2">Logout</p>
        </div>
      </nav>
     
    </div>
    <!-- Data Container -->
    <div
      class="col-sm-6 col-md-5 offset-md-2 col-lg-10 offset-lg-0 book-list-container p-3"
    >
      <div>
        <h4>Welcome Back, {{ firstname }}!</h4>
      </div>
      <div class="row d-flex align-items-center justify-content-center mt-5">
        <div class="col-5 me-3 mt-3 rounded totalBooks p-4">
          <h5 class="text-white">Books</h5>
          <div class="d-flex align-items-center justify-content-center">
            <div class="ms-5 bookIcon"></div>
            <h5 class="mt-5 ms-3 text-white">+{{ totalBooks }}</h5>
          </div>
        </div>
        <div class="col-5 mt-3 rounded totalUsers p-4">
          <h5 class="text-white">Users</h5>
          <div class="d-flex align-items-center justify-content-center">
            <div class="ms-5 userIcon"></div>
            <h5 class="mt-5 text-white">+{{ totalAccounts }}</h5>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 ">
          <h5 class="ms-5">Today's Update!</h5>
          <div class="d-flex align-items-center justify-content-center m-5 ">
            <div class="newBooks me-4 p-4">
              <h5 class="bi bi-book"></h5>
              <h3 class="text-primary mt-3">+{{ todayRegisteredBooksCount }}</h3>
              <p>New Books</p>
            </div>
            <div class="totalBooksBorrowed me-4 p-4">
              <h5 class="bi bi-journal-arrow-up"></h5>
              <h3 class="text-primary mt-3">+{{todayBorrowedBooksCount}}</h3>
              <p>Books Borrowed</p>
            </div>
            <div class="totalBooksReturned me-4 p-4">
              <h5 class="bi bi-journal-arrow-down"></h5>
              <h3 class="text-primary mt-3">+15</h3>
              <p>Books Returned</p>
            </div>

            <div class="newAccounts me-4 p-4">
              <h5 class="bi bi-person-plus"></h5>
              <h3 class="text-primary mt-3">+{{ todayRegisteredUsersCount }}</h3>
              <p>New Users!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
