@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.custom-modal-bottom-right{
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
    transform: translateX(0);
    width: 30%; 
    max-height: 100%; 
  }
  .modal-content{
    border: 1px solid black;
  }