<div class="body">
    <div class="modal-header">
        <h5 class="modal-title" style="font-size: 24px;"><b>{{ data.title }}</b></h5>
    </div>
    <br>
    <div class="modal-body">
        <p>Author: {{ data.author }}</p>
        <p>Category: {{ data.category }}</p>
        <p>Genre: {{ data.genre }}</p>
        <p>Publisher: {{ data.publisher }}</p>
        <p>Date: {{ data.date }}</p>
        <p>Quantity: {{ data.quantity }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [mat-dialog-close]="true" style="margin-right: 10px;">Close</button>
        <button type="button" class="btn btn-primary" (click)="borrowBook()">Borrow</button>
    </div>
</div>