<div class="container-fluid">
  <div class="row vh-100">
    <div
      class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-start justify-content-start"
    >
      <form (ngSubmit)="login()" class="login-form bg">
        <div class="logo"></div>

        <h1 class="text-center text-white mb-5 mt-4">Login</h1>
        <div class="input-group">
          <input
            type="email"
            class="form-control p-2 mb-4"
            name="email"
            [(ngModel)]="email"
            id="email"
            placeholder="Email"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            class="form-control p-2 mb-2"
            name="password"
            [(ngModel)]="password"
            id="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="login-button mb-4">Login</button>
        <div
          *ngIf="loading"
          class="spinner-border loading text-dark"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </form>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-12 content">
      <div class="p-5">
        <h4>Your gateway to a world of knowledge and discovery!</h4>
        <div class="subContent">
          <i class="aboutUsContent">
            " We're passionate about fostering a love for reading and learning.
            "
          </i>
          <div class="undraw"></div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

<!-- Error Message -->
<div
  class="modal fade show"
  *ngIf="errorMessage"
  tabindex="-1"
  aria-labelledby="errorModalMessage"
  aria-modal="true"
  style="display: block"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-danger" id="errorModalMessage">
          Error
        </h1>
      </div>
      <div class="modal-body p-3">
        <h5>{{ errorMessage }}</h5>
      </div>
    </div>
  </div>
</div>
